#alex {
    background-color:orange;
}

#b {
    font-family: 'Abril Fatface', cursive;
    color: white;
    size: 18px;
}

#c {
    font-family: 'Noto Serif KR', sans-serif;
}

#d {
    font-family: 'Noto Serif KR', sans-serif;
}

#e {
    font-family: 'Noto Serif KR', sans-serif;
}





#death {
    font-family: 'Noto Serif KR', sans-serif;
    color: navy;
}







font-family: 'Noto Serif KR', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Abril Fatface', cursive;