#alex {
    background-color:orange;
}

#b {
    font-family: 'Abril Fatface', cursive;
    color: white;
    size: 18px;
}

#c {
    font-family: 'Noto Serif KR', sans-serif;
    color: #294552;
}

#employeeName {
    width: 30%;
}

#d {
    font-family: 'Noto Serif KR', sans-serif;
    color: #294552;
}

#role {
    width: 30%;
}

#e {
    font-family: 'Noto Serif KR', sans-serif;
    color: #294552;
}

#startDate {
    width: 30%;
}


#press {

}

.form-control {

}

#frown {
    width: 70%;
}




#submit {
    background-color:white;
    color: #294552;
    border-color: #294552;
    float: left;

}




#death {
    font-family: 'Noto Serif KR', sans-serif;
    color: navy;
}

#life {
    background-color: purple;
}

#hand {
    background-color: #597884;
}

#foot {
    background-color: #597884;
}

#neck {
    background-color: #597884;
}

#back {
    background-color: #597884;
}

#leg {
    background-color: #597884;
}

#head {
    background-color: #597884;
}





font-family: 'Noto Serif KR', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Abril Fatface', cursive;