#alex {
    background-color:orange;
}

#b {
    font-family: 'Abril Fatface', cursive;
    color: white;
    size: 18px;
}

#c {
    font-family: 'Noto Serif KR', sans-serif;
    color: #294552;
}

#d {
    font-family: 'Noto Serif KR', sans-serif;
    color: #294552;
}

#e {
    font-family: 'Noto Serif KR', sans-serif;
    color: #294552;
}










.btn {
    background-color:white;
    color: #294552;
    border-color: #294552;

}




#death {
    font-family: 'Noto Serif KR', sans-serif;
    color: navy;
}

#life {
    background-color: purple;
}

#hand {
    background-color: #597884;
}

#foot {
    background-color: #597884;
}

#neck {
    background-color: #597884;
}

#back {
    background-color: #597884;
}

#leg {
    background-color: #597884;
}

#head {
    background-color: #597884;
}





font-family: 'Noto Serif KR', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Abril Fatface', cursive;